<!DOCTYPE html>
<html>

   <head>
      <title>Request Header Microserice</title>
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <h1>freeCodeCamp Project: Request Header Microservice</h1>
      <blockquote>
        <p>User stories:</p>
        <ol>
          <li>I can get the IP address, language and operating system for my browser.</li>
        </ol>
      </blockquote>
      <h2>Example usage:</h2>
      <pre><code>      https://request-header-microservice-pa.glitch.me/api/whoami</code></pre>
      <h2>Example output:</h2>
      <pre><code>      {
          "ipaddress": "78.32.101.101",
          "language": "en-GB",
          "software": "X11; Linux x86_64; rv:52.0"}
      }</code></pre>
   </body>

</html>
